[2016-05-13 03:33] stevesbrain opened #3 "imgur token followed by PDF generation"
If you generate an imgur token, then click on the "Acrobat PDF" link, it throws an exception.

As it appears in browser:
[code]

As it appears in docker container:
[code]

Presumably the not-generating of PDF from an imgur-watching token is expected behaviour. However, the link to then generate a PDF should not be present in a subsequent page (or, a clean error should be presented).

[2016-05-13 08:43] thinkst commented on #3
Thanks for the report, we pushed a fix for this last night. Exceptions now return an error page rather than exception information.

We also rearranged the Docker setup, and this means a new Docker repo. The new compose file is available from https://github.com/thinkst/canarytokens-docker.

[2016-05-13 08:43] #3 closed

[2016-06-29 00:54] haroon-meer opened #4 "Text overflows Div"
Created tokens overflow their div's

<img width="470" alt="div-overflow" src="https://cloud.githubusercontent.com/assets/20196855/16437154/90014d84-3da4-11e6-93d5-e0bf27e9a9f5.png">

or

<img width="476" alt="sql-token" src="https://cloud.githubusercontent.com/assets/20196855/16437174/b8395198-3da4-11e6-8db5-dcfcb8f16fb0.png">

[2016-06-29 00:56] haroon-meer opened #5 "Entire div's should be clickable"
When a token is created, you need to click on the text to unfold the token..

<img width="360" alt="clickable-div" src="https://cloud.githubusercontent.com/assets/20196855/16437210/02134382-3da5-11e6-80a2-78cc787ebd9d.png">

The entire div should be clickable.

[2016-06-29 00:59] haroon-meer opened #6 "the web-bug-URL is near impossible to copy on mobile"
On mobile (safari/iPhone) its near impossible to grab the web-bug URL

<img width="365" alt="mobile-web-bug" src="https://cloud.githubusercontent.com/assets/20196855/16437256/778bad20-3da5-11e6-8da2-f3d14b4a950b.png">

[2016-10-07 06:26] shahpalak02 opened #7 "how to start the application"
Hi, I have already setup docker. But instead, I want to run this canarytokens application individually. Can you please tell how to start this application separately once the code is downloaded in the machine?

[2016-10-19 10:29] #7 closed

[2016-10-19 10:43] shahpalak02 opened #8 "DNS Canarytoken not working"
Hi, I have done setup of canarytoken and canarytoken-docker projects in my machine. I have created a DNS entry in my Hosts file and did changes in frontend.env and switchboard.env accordingly so that they point to my local DNS URL. I have added my own email configurations.

Then for when I generate canary token from `/generate` page. For web bugs, it is working properly and I am receiving email al

[2016-10-19 13:14] thinkst commented on #8
Hi There,

Sorry that you are having difficulty with the Canary Tokens project. We are
looking into the issue. Could I please ask you to try the following command
to test your DNS token. In a terminal would you mind trying the following
command:

- host <token>.demo.canarytokens.net 127.0.0.1

This command will attempt a hostname lookup of the tokenised address
through the DNS server at 127.0.0.1

[2016-10-19 15:14] shahpalak02 commented on #8
@thinkst thanks for the quick response, I still could not find solution. Let me explain you my local setup.

canarytoken project setup is up and running through your docker compose file. The local setup is accessible via http://127.0.0.1/generate :+1:

Now I have added following line in local machine hosts to access canarytoken project using some domain name
`127.0.0.1       canary.local`

So now

[2016-10-19 17:42] blikenoother commented on #8
Facing same issue. Tried `dnsmasq` but could not resolve

[2016-10-24 14:38] gauravnayak210 commented on #8
Hi @thinkst,

`host <token>.demo.canarytokens.net 127.0.0.1` works for me. But when I use
`ping <token>.demo.canarytokens.net` it doesn't works.

I have setup in my local environment having some internal IP, gateway, DNS server (I think this should not be the barrier).

I have setup DNS server such a way that `ping  <token>.demo.canarytokens.net` gives reply but alert does not get triggered.

I ha

[2017-06-06 14:43] mamisano opened #11 "Invalid webhook supplied"
@thinkst
I am having an issue when trying to use a Slack webhook. I receive the error message "Invalid web hook supplied". BTW, nice upgrade with the error reporting... the web page used to just hang and not tell me what was going on, lol.

That being said, what is the required syntax for webhooks?

[2017-07-11 15:51] smehta1215 opened #12 "How do I use letsencrypt?"
Hi! I want to use the docker-compose-letsencrypt.yml for https but I'm not sure how to do so - can anyone help and give some instructions on how to get that set up?

[2017-07-11 16:13] hillu opened #13 "HOWTO for generating templates?"
I wanted to do my own canary documents and tinkered around a bit with the `template.docx` provided in this repository. This are the steps I came up with:

1. Somewhere in the document, insert an image, for example a one-pixel
   GIF file called `1x1.gif`, and set its size to 0x0, save the file.
2. In the ZIP structure, open `word/document.xml` find
   `name="1x1.gif"` the reference ID, for example

[2017-07-17 23:36] phongiswindy opened #14 "You do not have a working installation of the service_identity module"
After downloading CanaryTokens from Github, and run docker-compose up, there are some warnings shown bellow. Especialy, the one for "the service_identity module", I already installed it, but these warnings still appear.
[code]

[2017-07-19 15:20] mamisano commented on #14
@phongiswindy Try the following to fix the issue:

sudo apt-get install libssl-dev
sudo pip install service_identity

[2017-07-24 09:01] thinkst commented on #14
@phongiswindy did installing the above dependencies solve your issue? Please let me know. Thanks

[2017-07-24 09:54] thinkst commented on #11
@mamisano Sorry for the delayed response. Unfortunately, the slack webhook isn't supported yet but it is on the roadmap. Since there is a python client, it could easily be added to channel_output_webhook.py. Some checks would need to be put in place for the type of webhook too. We would welcome a pull request integrating this functionality ;)

[2017-07-24 09:54] #11 closed

[2017-07-24 09:55] #4 closed

[2017-07-24 09:55] #5 closed

[2017-07-24 09:55] #6 closed

[2017-08-05 19:53] phongiswindy commented on #14
Yep yep, I had to "sudo apt-get update" and "sudo apt-get upgrade", and then installed the dependencies. The problem was solved.
Thank you so much.

[2017-08-05 20:51] phongiswindy opened #15 "Incident Map and Incident List do not show up"
I am trying running CanaryTokens from my own server.
The email function works fine, but in the History on the main website, the "Incident Map" and "Incident List" do not show up as they are shown on canarytokens.org. There is nothing under the line "Heads Up! Click the incident items for more info."
Do you have any idea about this issue?

[2017-08-06 04:24] phongiswindy commented on #15
I think I found the solution here: https://github.com/thinkst/canarytokens-docker/pull/18/files
will try it out and get back if it does not work.

[2017-08-06 04:24] #15 closed

[2017-08-08 06:50] #14 closed

[2017-08-09 22:05] neilstuartcraig opened #16 "GCP user tokens?"
Hi

I've been tinkering a little with Canary Tokens and I like it a lot - loads of value for very little effort. I'm working on a project which will be deployed on AWS and Google Cloud (GCP) so i'd be really interested to know if you are planning on providing a GCP equivalent to the AWS user auth tokens facility which is already in CT? I haven't thought it through much but i assume/hope it's feasi

[2017-10-19 12:05] jaswinder97 opened #17 "Multiple domains mapped sometimes stop one of them"
I have canary tokens docker container running on a server mapped to 'domain1.com' and on switchboard.env I have added one more domain name as public domain 'domain2.com'. When i run all the containers initially all works perfectly .Both domain url hits works fine .But one of them stop working after some time.

[2017-10-26 08:57] seranu opened #18 "URL Token notifications from Google"
Hi,
I set up an URL canary token and saved it somewhere on my machine. I got two notifications last night that seem to be coming from Google.
Is this possible that Google would crawl the canary token page? Or maybe something else?

Regards,
seranu

[2017-10-26 09:01] thinkst commented on #18
Hi Seranu.

The most likely candidate here, is if you have some sort of tool bar additions or extensions. (We don’t expose the token to google for indexing).

Are you running any sort of browser extensions?

/mh

__
Haroon Meer
+27 83 786 6637
http://thinkst.com/pgp/haroon.txt

[2017-10-26 09:03] seranu commented on #18
Update: I just remebered that I have shortened the URL using google URL shortener. Interesting stuff. Does this mean that everytime someone accesses the token, alerts will come from Google?

[2018-04-30 13:17] thinkst commented on #8
Hi @gauravnayak210,

Sorry for the delayed response. What you are seeing there is expected. When you using the `host` command you are specifying which DNS server to use to resolve the `<token>.demo.canarytokens.net` address. The address is sent to your Canarytokens DNS server which then triggers the alert.
However, with the `ping` command, I suspect your PC is reaching out over the internet to res

[2018-04-30 13:34] thinkst commented on #8
Hey @shahpalak02,

Sorry for the delayed response (I really hope you got it working).

I just wanted to quickly explain why adding the DNS token to your hosts file won't make it work. The hosts file is used for direct mapping of a name and an IP.

So adding `127.0.0.1 u99hlj6duu4awt1crcnohameq.canary.local` will not cause your token to trigger because `u99hlj6duu4awt1crcnohameq.canary.local` will

[2018-04-30 13:50] thinkst commented on #18
Hey Seranu,

Which token type did you create? With the DNS token you will only ever see which DNS servers (not local IP), triggered the token.

If it was a Web token, I suspect that Google may do some trickery around making sure the URL its shortening is not something malicious. To check this, it would probably try GET the url and check the contents. This would trigger an alert.

Please let me kno

[2018-04-30 19:36] thinkst commented on #17
Hey @jaswinder97,

Could you give me a little more information? Do you mean that one of the domains stops alerting on token triggers? Or that you can not access the canarytokens webui through one of the domains after a while? If you give me some more information, I can dig into the issue for you.

Thanks for your patience

[2018-05-02 08:54] thinkst commented on #13
Hi @hillu,

We currently have multiple techniques for “tagging” office docs.
As you noticed, each technique has two challenges to overcome
1) the beacon;
2) automatically inserting this beacon into the document.

We played with various techniques for (2) including headless machines and document automation.
Your technique sounds perfectly reasonable. Checkout msword.py to see how we did it (we plac

[2018-06-13 13:20] #12 closed

[2018-07-16 07:17] #13 closed

[2018-07-16 20:54] OmarDarwish commented on #16
Hey there, have there been any updates regarding GCP tokens?

Also, could you please point to where AWS tokens are monitored?

[2018-07-30 17:54] tmnc opened #20 "Add COMPUTERNAME to WIndows Folder Tokens"
You already have username and domain, why not add COMPUTERNAME to the information collected when someone visits a WIndows Folder Token?

[2018-08-16 09:56] thinkst commented on #20
Hey @tmnc,

That sounds like a good idea. Do you have any advice on how we can make this happen? (also we encourage you to collaborate with pull requests - this would be a cool addition!)

[2018-08-17 09:54] thinkst commented on #16
Hey @OmarDarwish,

The GCP tokens are still being looked into at the moment; wrt the AWS tokens, we wrote a blog post on how we went about doing it over [here](http://blog.thinkst.com/2017/09/canarytokens-new-member-aws-api-key.html)

[2018-08-17 17:30] obsti8383 opened #21 "SMTP Output Channel?"
Hey @thinkst :

Would you accept a Pull Request that implements SMTP (over TLS) as an output channel?

I would like to have that for my installation so that I must not depend on third party mailproviders (but use my own SMTP server).

[2018-08-19 10:04] jaswinder-saini opened #22 "timestamp is late for around 5 min."
I noticed that the timestamp is late for around 5 min. how we can check whether canary tokens were fired on time?

[2018-09-05 19:58] ndom91 commented on #21
@obsti8383 have you implemented this in your setup?

Im trying to be able to use my own smtp server instead of the provided mailgun / sendmail configs.

If you'd be willing to share, I'd be very thankful :smiley:

[2018-09-21 10:40] thinkst commented on #22
Hey @jaswinder-saini,

The timestamp shouldn't be late since it is taken when the request hits the canarytokens server. Ill take a look into this, but in the meantime, would you mind checking that your system clock is correct and tell me which token you triggered that was late?

[2018-09-21 10:42] thinkst commented on #21
Hey @obsti8383,

That would be totally awesome! (and we may be able to send you some swag for contributing, I know a person ;) )

[2018-09-28 17:09] obsti8383 commented on #21
I'll take a look.

[2018-09-29 08:34] ndom91 commented on #21
@obsti8383 you are the man(woman)! I'll take a look at this as soon as I have some free time in the next day or two. Thanks!!

[2018-10-01 10:18] thinkst commented on #21
Hey @obsti8383,

Thanks so much for the PR (and the great work inside it). I am currently reviewing it and testing it to make sure. Ill hit you back shortly with some meaningful comments.

In the meanwhile, would you mind dm'ing me your details so we can send some swag over to say thanks.

[2018-10-03 08:03] obsti8383 commented on #21
Hi @thinkst: Thanks, just come back to me if you find any issues. Under which E-Mail address can I reach you?

[2018-10-09 13:51] #21 closed

[2018-10-09 14:13] wifiuk opened #24 "Instruction"
Can you update this repo with installation and usage instructions

[2018-10-10 08:29] thinkst commented on #24
Hey @wifiuk,

Which part of the setup specifically are you battling with? (in which case I know I should elaborate more in this section.)

Thanks for taking an interest in our Canarytokens.

[2018-10-11 09:18] thinkst commented on #16
Closing this issue. Will notify everyone when GCP User tokens are available.

[2018-10-11 09:18] #16 closed

[2018-10-18 07:54] thinkst commented on #24
Hey @Zeik0s,

In terms of explanation of each file, would it be better if that was included in each file (like at the top of the `.py`) or a separate wiki section that explains certain concepts that are in the canarytokens project? We know our documentation isn't great (yet!), so we planning on making it better.

[2018-10-22 09:46] Zeik0s commented on #24
@thinkst in a separate Wiki would be better i think. :relaxed:

[2018-12-12 17:23] shortstack opened #26 "AWS tokens"
Hi,

Attempting to use the AWS keys

I have canarytokens running in Docker on Ubuntu 16.04, sitting behind an ELB, 443/HTTPS pointing to 80/HTTP/nginx.

All of the other tokens I've tried are working fine.

[code]

I put the above in ~/.aws/credentials

Ran `aws configure`, picked it up no problem

Ran the following:

[code]

And probably a few others, have waited about an hour, no alert and nothi

[2018-12-13 15:35] shortstack opened #27 "Somehow, format_slack_canaryalert is different in the master than in the one i pushed, and is duplicated incorrectly"
mine: https://github.com/shortstack/canarytokens/blob/ca3dca393173cee79c6fa040ae48eca12d0d7a25/channel.py

master, line 68:
https://github.com/thinkst/canarytokens/blob/master/channel.py

_Originally posted by @shortstack in https://github.com/thinkst/canarytokens/pull/25/comment#issuecomment-447011608_

[2018-12-13 16:06] shortstack commented on #27
just need to remove one or the other

[2018-12-13 22:32] #26 closed

[2018-12-13 22:32] #27 closed

[2018-12-14 02:58] shortstack opened #29 "DNSDatagramProtocol (UDP)] Unhandled Error: AWS tokens / DNS tokens"
When AWS tokens are triggered, getting the following in switchboard.log

TLD nameservers are pointing to our public IP, and that's it. Everything else so far is working, but this one is new.

[code]

[2018-12-14 09:20] thinkst commented on #29
Hey @shortstack,

Im on it. Ill ping you back soon with some more information.

[2018-12-14 11:39] thinkst commented on #29
Hey @shortstack,

Found the issue and going to be pushing a fix + new canarytokens docker images shortly.

Thanks again (again!)

[2018-12-14 12:18] shortstack commented on #29
thank YOU!!! :)

[2018-12-14 15:10] shortstack commented on #29
k, i pulled channel_dns.py and applied your changes, ran the AWS CLI commands again, still getting the following:

[code]

[2018-12-19 12:20] thinkst commented on #29
Hey @shortstack,

I am battling to reproduce the error you are having there. I have tried both DNS and AWS tokens (and even tried the query you pasted above). All seem to be working.

Is there any other setup information you can give me that may help? The exception we seeing there isn't super helpful either. It may be worth adding some extra debugging lines to try see where in that DNS code path i

[2018-12-19 18:30] shortstack commented on #29
well.

it's working.

i had reverted my changes (before this issue was created) because i was waiting for my PR that is now applied and in place, the one that adds region/output to the AWS data on the manage screen.

so when the callbacks hit, region and output were not in canarydrop.py. and they are there now because i pulled my changes in the other day. and it's working.

omg.

[2018-12-19 18:30] #29 closed

[2018-12-20 08:20] thinkst commented on #29
Haha im glad its working!

[2018-12-20 23:20] veeral-patel opened #32 "Simple explanation of files"
Hi, I wanted to contribute to the project but don't understand how the code is structured...if you get a chance, can you document that? Thanks!

[2018-12-21 10:56] thinkst commented on #32
hey @veeral-patel,

We always appreciate contributions to your projects. Is there a particular part of the code you would like documented?

[2018-12-21 19:03] veeral-patel commented on #32
Specifically, I was wondering how Canarytokens detects if a Word doc is opened, and sends that information to the server

[2018-12-26 15:12] Aldrims opened #33 "No Email received with PDF canary token"
Hello ,
When i'm generating my Canaray token  then for example for a pdf , if i open this pdf i don't get any notification on my Email.
Regards

[2018-12-27 11:32] thinkst commented on #32
Hey @veeral-patel,

If a computer is completely offline, then there will not be any communication; however if the computer that is opening the tokened Word document simply denies outgoing HTTP traffic, the communication will get out because we are using a DNS token for MS Word documents.

In terms of how we do this, I think it would be best to read through the code in `msword.py` in this repo. As

[2019-01-07 12:22] #20 closed

[2019-01-07 12:30] thinkst commented on #18
Closing this issue because of no reply and it is an old thread. Please reopen if you want to revisit this issue.

[2019-01-07 12:30] #18 closed

[2019-01-23 13:47] thinkst commented on #33
Hey @Aldrims,

Please let me know if you get everything working otherwise we can try figure what the issue may be.

[2019-01-23 13:48] thinkst commented on #22
Closing issue due to inactivity. Please reopen if you have the same issue or want to continue this discussion.

[2019-01-23 13:48] #22 closed

[2019-03-04 07:34] s3c opened #34 "URL switches back and forth after change."
Initially when I filled the config files, I made a mistake in the domain. After changing it to the correct domain it however still points to the old one most of the time, with the occasional token being generated with the correct one specified in the config file. Is there some sort of cache somewhere that can be cleared?

[2019-03-11 15:13] thinkst commented on #34
Hey @s3c,

Yip you spot on. So basically when we start the canarytokens server up, we run a script that updates settings from the config files into our redis database.

In this case, the `CANARY_DOMAINS` environment variable is stored as a set in redis and so we simply add to the setup. This does mean that old domains are still present.

In order to remove them, once your canarytokens docker serve

[2019-03-11 15:14] thinkst commented on #33
Closing due to inactivity. Please reopen if you continue to have this issue.

[2019-03-11 15:14] #33 closed

[2019-03-13 10:30] GIJohnathan opened #35 "CanaryTokens - Detection Bypass (MS WORD)"
This was reported to info@thinkst.com 5 days ago.  Please confirm and fix these issues, also I'd really like a version number.

Reported by Gionathan Armando Reale
CVE-2019-9768

#####################################################################

Identification:

Due to size/metadata/timestamp being very limited in variation it is easily possible to detect which Word documents are likely to con

[2019-03-13 13:29] GIJohnathan opened #36 "CanaryTokens - Detection Bypass (PDF)"
Please confirm and fix these issues, also I'd really like a version number.

Reported by Gionathan Armando Reale

#####################################################################

Identification:

Due to size/metadata/timestamp being very limited in variation it is easily possible to detect which PDF documents are likely to contain CanaryTokens.

Detection Bypass:

Opening a PDF document cont

[2019-03-13 13:32] GIJohnathan commented on #36
![imageedit_2_3057874925](https://user-images.githubusercontent.com/33219238/54282647-bb3c0b80-459c-11e9-8cbb-d7dda43301d1.gif)

[2019-03-14 14:05] GIJohnathan opened #37 "IP/DNS Obfuscation"
You can obfuscate your IP address/DNS while opening a potential "infected" file by first submitting it to a site like virustotal.com

Tested with EXE CanaryToken, may be the case with other file types

PoC:

http://canarytokens.org/history?token=xjyowcz9v4a1iymq5x8f8xyu0&auth=1f61872751a0430be27cf61214e5d6ed

Reported by Gionathan Armando Reale

[2019-03-14 14:17] GIJohnathan opened #38 "An unexpected error occured"
The site isn't working...

[2019-03-14 14:22] GIJohnathan commented on #38
![test](https://user-images.githubusercontent.com/33219238/54364311-f0b02a00-466c-11e9-865a-7c0f86f3ae8b.JPG)

[2019-03-14 14:48] #38 closed

[2019-03-14 17:45] thinkst commented on #36
Thanks for taking the time to test Canarytokens.

The PDF token works due to a quirk in Adobe Reader, which gets the alert off before the user is prompted to allow the network connection. This why the token type is listed as "Acrobat Reader PDF Document – Get alerted when a PDF document is opened in Acrobat Reader". We're not aware of a similar trick which works on Foxit Reader, though the documen

[2019-03-14 17:48] thinkst commented on #35
Thanks for taking the time to test Canarytokens.

The Word token relies on features of Microsoft Word and is known not to work on LIbreOffice. This why the token type is listed as "Microsoft Word Document – Get alerted when a document is opened in Microsoft Word". As far as we're aware, LibreOffice does not support web-sourced images in documents, which is the trick relied on by the Microsoft Word

[2019-03-14 17:52] thinkst commented on #37
Thanks for the report, the behaviour you've identified is expected. The engines at VT run the binary and trigger the token.

Canarytokens aren't designed to be invisible, the idea is that most attackers aren't looking for them. Searching the contents binary file will reveal evidence of the public Canarytokens service if the file was signed by canarytokens.org, without needing to upload it to VT.

[2019-03-14 17:52] #37 closed

[2019-03-15 07:32] GIJohnathan commented on #35
Its a good product :)

That makes a lot of sense really, but that doesn't address the issue with Protected View which as far as I can tell with testing still evades the token. I don't mean to criticize your product, just letting you guys know about these issues. I wish I could help out but my programming skills are just not that good, If I have time I'll try find an easy way to randomize size/meta

[2019-03-15 07:34] GIJohnathan commented on #36
That makes a lot of sense, you can close this issue now 👍

[2019-03-15 08:19] thinkst commented on #36
Glad we could clear it up.

[2019-03-15 08:19] #36 closed

[2019-03-15 08:23] thinkst commented on #35
Yep, the document works in specific instances and won't work when additional defences are in play.

We'll put up a page to explain the limitations further. Keep noodling on this and if you come up with a neat fix we'll reopen this issue.

You could use the last commit hash (4e89ee0) as a version, since the project doesn't have a version number.

[2019-03-15 08:23] #35 closed

[2019-03-19 09:15] kuriackovskij opened #39 "Windows Folder tokens, username and pc name details"
Hi. I am wondering re Windows Folder token. desktop.ini is triggering FQDN which consists of %USERNAME%.%COMPUTERNAME%.%USERDOMAIN%.INI."tokencode"."domainname".
Alerts are working, however I don't see in any reports the username, computer name and domain name which are being passed to CanaryTokens - why those details are passed to canarytokens (for example, why it cannot be used only as "tokencod

[2019-03-20 15:33] thinkst commented on #39
Hey @kuriackovskij,

Those details dont come through in the email (yet, it can be added with a few more lines of code), but they should come through on the History page under `Basic Details` and then `src_data`.

If there are not present in the History page, I would try running the following command in powershell:
`$ nslookup.exe PERSON.TESTCOMPUTER.TESTDOMAIN.ini.<token value you created>.<token

[2019-03-20 23:07] kuriackovskij commented on #39
@thinkst hi,
I tried that step to trigger DNS query from within the powershell, but I only got a Map and **Incident list** on the History page. Here is the screenshot: https://imgur.com/nj7DNsb
And I did that on canarytokens.org. The dns query I did:
`nslookup.exe MEMYSELF.TESTPC.TESTDOMAIN.INI.yz7rrkdf2iqg1uerslik6iheb.canarytokens.com`

[2019-03-20 23:11] kuriackovskij commented on #39
@thinkst hi,
Yeah my bad, I initially didn't spot that Incidents are clickable under History page. I can confirm it's working and case can be closed! :-)

[2019-03-22 08:30] thinkst commented on #39
@kuriackovskij haha, no stress. Keeping us on our toes here 🤘

[2019-03-22 08:30] #39 closed

[2019-03-26 11:57] GIJohnathan opened #40 "Map not working"
The map isn't working

http://canarytokens.org/history?token=xjyowcz9v4a1iymq5x8f8xyu0&auth=1f61872751a0430be27cf61214e5d6ed

[2019-03-26 13:02] thinkst commented on #40
hey @GIJohnathan,

Thanks so much for catching and reporting this. I have fixed it.

[2019-03-26 13:02] #40 closed

[2019-03-27 20:58] benner64 opened #41 "CanaryTokens - Fingerprinting Vulnerability (MS WORD)"
CanaryTokens - Fingerprinting Vulnerability (MS WORD)

MS Word documents are always the same size (15.590-15.670) and after unzipping the docx file, I noticed that the file [word/_rels/footer2.xml.rels] has only a select amount of "random words" in the token URL.

After testing with over 50 samples, I found that using this information could accurately fingerprint which files were infected.

Fix: I

[2019-04-04 14:46] thinkst commented on #41
Hey @benner64,

Thanks for reporting this and giving us some ways in which to fix it.

We have added it to our "things to do" and will let you know as soon as it is done. Alternatively, if you would like to contribute, a PR would be greatly appreciated.

[2019-05-01 12:00] noraj opened #44 "Inventory notification"
Your tool/software has been inventoried on [*Rawsec's CyberSecurity Inventory*](https://inventory.rawsec.ml/).

### What is Rawsec's CyberSecurity Inventory?

An inventory of tools and resources about CyberSecurity. This inventory aims to help people to find everything related to CyberSecurity.

+ **Open source**: Every information is available and up to date. If an information is missing or depre

[2019-05-01 12:01] noraj commented on #44
https://inventory.rawsec.ml/tools.html#Canarytokens

[2019-06-11 11:58] mschilt opened #46 "Feature Request: PDF token using XSLT callbacks"
Just as an Idea:
https://insert-script.blogspot.com/2019/01/adobe-reader-pdf-callback-via-xslt.html

[2019-06-11 21:31] rubo77 commented on #14
I had to use `pip install service_identity --force` to solve the issue

[2019-06-12 15:51] jayjb commented on #24
Hey @wifiuk, @Zeik0s,

We haven't created a wiki (yet), but we have updated the `README.md` on [canarytokens-docker](https://github.com/thinkst/canarytokens-docker). Take a look and let me know if they help. I have added that we should create wiki.

[2019-06-12 15:53] jayjb commented on #46
hey @mschilt,

Thanks for the idea. We'll take a good look and let you know if decide to pursue it. (keep the cool ideas coming!)

[2019-06-12 16:03] jayjb commented on #44
Hey @noraj,

Thanks for letting us know. This is very cool.

[2019-06-12 16:30] jayjb commented on #34
Hey @s3c,

Im closing this issue; please reopen if you are still having a problem with it.

[2019-06-12 16:30] #34 closed

[2019-06-12 16:32] jayjb commented on #32
Hey @veeral-patel,

Im closing this issue for now (ive made a note to explain more of our stuff on the wiki). Please reopen if you have any further questions or create a new issue if you have any new questions.

[2019-06-12 16:32] #32 closed

[2019-10-14 19:21] JLLeitschuh opened #47 "Fix http://canarytokens.org -> https://canarytokens.org in documentation"
You should consider changing header link on this repository to use HTTPS instead of HTTP.

Also, consider changing canarytokens.org so that it automatically redirects to HTTPS.

[2019-11-01 14:38] MaxZabuty opened #49 "Canarytokens Python Installation without docker"
I am trying to deploy a canarytokens service on my computer but I need to do it without using
any dockers because I cannot use any dockers on the environment on which I'm planning to install it.
I am struggling deploying it using only python. I have installed redis server, finally ran the httpd_site.py after installing all modules and it ran nicely without any errors but the website is not on.

I'

[2020-01-17 10:07] jayjb commented on #47
Hi @JLLeitschuh,

Thanks for the heads up! Ill make that happen. 🤘

[2020-01-17 16:05] JLLeitschuh commented on #47
HSTS if possible too!

[2020-02-05 18:58] ravenousld3341 commented on #49
I second this.

[2020-02-07 09:22] jayjb commented on #49
Hi @MaxZabuty, @ravenousld3341,

In order to run this service without the docker, I would advise looking at the Dockerfile. In there you will see all the dependencies necessary.

Once you have the dependencies sorted, you will need to check the `canarytokens-docker` repo for information on how the different services interact. The `docker-compose.yml` would form as a sort of playbook on how to run

[2020-02-09 17:37] Zeik0s commented on #24
ok, will have a look. Thanks!

[2020-02-28 19:27] HDWorks opened #50 "Token continues to trigger in unrelated PDFs"
I believe I've narrowed down the trigger but am not understanding the cause. I downloaded an pdf token to test and it successfully triggers when opened. However, I moved the tokenized pdf to another computer and placed it to be found by a colleague and resumed work on the original computer. When I open a link within an unrelated pdf, it is triggering the canarytoken again. Any clue how can I resol

[2020-03-09 12:26] jayjb commented on #50
Hi @HDWorks,

With the DNS based tokens, such as the PDF Canarytoken, we have seen a couple of mechanisms that may trigger it after it has been opened before. It is the reason that we recommend downloading a new one once it has triggered so that you can avoid false alerts.

A few things that have caused multiple alerts of a previously triggered Canarytoken (DNS):
1. Cached DNS queries being tried

[2020-03-13 19:30] HDWorks commented on #50
Thanks for the explanation! I'll use a new one moving forward.

[2020-03-13 19:30] #50 closed

[2020-03-17 05:11] hassan91 opened #51 "Injecting Canary URL In Any Word File"
Currently we are using only specific template for word. Is there any mechanism if we can insert URL in any Word File ?

[2020-03-24 14:41] jayjb commented on #51
Hi @hassan91,

We do this in our commercial Canarytokens solution. Basically, a potential path is to edit the word document, add an image to it which points to a web Canarytoken. This will force the Word processor to resolve the path and try get an image from the Canarytokens server resulting in an alert.

Please let me know if there is some way I can help you with this.

[2020-03-24 14:45] #51 closed

[2020-04-19 05:01] sohithchowdary opened #53 "No Email Recieved"
Hello ,
When i'm generating my Canaray token then for example for a pdf or word , if i open this pdf or word i don't get any notification on my Email.
-> used canarytokens.org service
-> operating system windows10

[2020-04-19 08:05] jayjb commented on #53
Hi @sohithchowdary,

Thanks for trying our Canarytokens service. Would you mind telling me two things quickly while i investigate?
1. What program did you use to open the pdf?
2. What program did you use to open the word document?

[2020-04-27 10:46] jaswinder97 opened #54 "How to set reply to email using any env"
For sender env we use: CANARY_ALERT_EMAIL_FROM_ADDRESS

is there any env to declare reply-to email ?

[2020-04-27 13:50] jaswinder97 commented on #54
@jayjb could you please help me to fix this

[2020-04-29 10:30] jaswinder97 commented on #8
@jayjb I am using just one domain with my DNS records over cloudflare. but DNS ping request to DNS tokens doesn't reach my server. Do you know why this is happening?

[2020-04-29 11:02] jayjb commented on #8
Hi @jaswinder97,

I think the first test would be to try ping your Canarytokens server using a command like
`host <domain>`
where `<domain>` is your domain. If this works, then we need to maybe look at your DNS setup.

For your Canarytokens to work over DNS, your Canarytokens server needs to be the authoritative DNS server for your domain. Please let me know what your Canarytokens domain DNS zone

[2020-04-29 11:30] jaswinder97 commented on #8
@jayjb yes it works using the above command for ping like

`host blueclouddrive.com`

here is a screenshot of the domain DNS cone file :

![Screenshot - 2020-04-29T165241 739](https://user-images.githubusercontent.com/17950241/80590669-efd98380-8a39-11ea-8532-c7ecb2c8f9cc.png)

**here is my fronend.env settings:**

[code]

**here is my switchboard.env settings:**

[code]
**All containers are worki

[2020-04-29 12:32] jaswinder97 commented on #8
@jayjb could you please look into this ASAP today

I put everything on hold till then

[2020-04-30 02:26] jaswinder97 commented on #8
@jayjb here is the event log from **frontend.env**

[code]

Seems like it has email sent log but I haven't received it yet.

although webbug tokens are working fine and I received trigger emails for those

[2020-04-30 07:37] jayjb commented on #8
Hi @jaswinder97,

Sorry for the delay; and thanks for the all the details.

So if i look at the log line you sent me; that test looks to be a HTTP token. The reason I say this is because the 'generated_url': 'http://blueclouddrive.com/feedback/vshmgg0t855gfzjjpko0owl3c/post.jsp' would be the url that you put somewhere it will get triggered.

If you look at that url, you will notice that the token

[2020-04-30 10:24] jaswinder97 commented on #8
@jayjb sorry the previous logs were for http trigger.

here is the log for DNS trigger for `vshmgg0t855gfzjjpko0owl3c.blueclouddrive.com`

[code]

[2020-04-30 12:58] jayjb commented on #8
Hi @jaswinder97,

Thanks for the update. So i was looking at your setup and I think there are two things we need to fix (or atleast try).

For the DNS setup, we need to make sure that your Canarytokens server is the authoritative DNS server for your domain. To do this, you can see in your screenshot that CloudFlare tells you what to point your nameservers towards so I would suggest making that cha

[2020-05-01 10:58] jaswinder97 commented on #8
@jayjb I decided to move everything to godaddy now with same records but still no success.

could you please share your DNS zone file settings and frontend.env & switchboard.env for http://canarytokens.org/

[2020-05-02 11:24] jaswinder97 commented on #8
@jayjb I really need your help ASAP please

[2020-05-02 12:18] jayjb commented on #8
Hi @jaswinder97,

Im not sure that changing the DNS provider will help, but lets see what we can do. Looking at your `.env` files, you will need to change the
`
CANARY_DOMAINS=blueclouddrive.com
CANARY_NXDOMAINS=nx.blueclouddrive.com
`
Then add `nx.blueclouddrive.com` to your DNS as an A record pointing towards your Server IP.

With regards to the `nginx.conf`, are you trying to run this server as

[2020-05-02 13:05] jaswinder97 commented on #8
@jayjb could you please share your .env settings for `**https://canarytokens.org**`

[2020-05-03 14:41] jayjb commented on #8
@jaswinder97, here is a redacted version of the canarytokens.org env files:

switchboard.env:
CANARY_MAILGUN_DOMAIN_NAME=domain.com
CANARY_MAILGUN_API_KEY=<mailgun-key>
CANARY_PUBLIC_IP=<server-ip>
CANARY_PUBLIC_DOMAIN=domain.com
CANARY_ALERT_EMAIL_FROM_ADDRESS=noreply@domain.com
CANARY_ALERT_EMAIL_FROM_DISPLAY=Canarytoken Mailer
CANARY_ALERT_EMAIL_SUBJECT=Your Canarytoken was Triggered
CANARY_NXD

[2020-05-03 14:46] jaswinder97 commented on #8
@jayjb thanks for sharing it but would like an explaination to understand how DNS tokens trigger request will reach our docker network and does nginx container will listen it at port 80 or DNS port?

let me know where does the request will enter into our docker network when someone tries to do:

`ping nat6m8aieeismjzdh3y97dxvg.blueclouddrive.com
`
or

`host nat6m8aieeismjzdh3y97dxvg.blueclouddrive

[2020-05-04 09:50] jayjb commented on #8
Hi @jaswinder97,

In terms of understanding the architecture; you can can a look at the canarytokens docker's `docker-compose.yml`. That `.yml` will tell you the relationship between the different docker containers and on which ports each container is listening.

But basically when a DNS request is triggered, the switchboard container maps traffic on port 53 (DNS port) to port 53 internally; which

[2020-05-04 10:04] #24 closed

[2020-05-05 09:07] jayjb commented on #54
Hi @jaswinder97,

We dont currently support this. It should be a quick addition, but we haven't yet got that on our roadmap.

[2020-05-07 07:15] jaswinder97 commented on #8
@jayjb I found something is broken when I updated base docker image for containers from 16.04 to 18.04 in Dockerfile.

Look at these switchboard container logs:

[code]

Now, after looking at `switchboard.tac` file, it seems like it depends on a package **twisted** which requires 18.04 base image as on 16.04 the frontend & switchboard build fails as per this issue reported at:  **https://github.co

[2020-05-10 04:50] jaswinder97 commented on #8
@jayjb I really need your help to fix it. Can we do a quick call over skype please?

[2020-05-10 05:08] jaswinder97 commented on #8
I just queried DNS lookups and haven't found any A record for `nx.canarytokens.org`

![Screenshot - 2020-05-10T103750 343](https://user-images.githubusercontent.com/17950241/81491286-68e2a180-92aa-11ea-8f1b-e90f258602c8.png)

![Screenshot - 2020-05-10T103828 667](https://user-images.githubusercontent.com/17950241/81491289-6c762880-92aa-11ea-8db5-cdd80df158e8.png)

[2020-05-15 02:38] sfuthings opened #56 "Incident list not expanding"
I have tried Chrome, firefox and Safari and non of them can expand the Incident list nor the Export menu. Tried both docker version and the public web site.

[2020-05-15 06:43] jayjb commented on #56
Hi @sfuthings,

Thanks so much for reporting this! Im on it and will ping you back shortly when I've resolved it.

[2020-05-15 10:41] jayjb commented on #56
Hi @sfuthings,

Thanks again for reporting this. Please would you mind emailing me at jay [at] thinkst [dot] com. We would like to send you some swag. The issue has been fixed as well. Thanks again!

[2020-05-15 10:41] #56 closed

[2020-05-16 09:09] jayjb commented on #8
Hi @jaswinder97,

If we do a DNS lookup on the addresses, you would get something like this:
`$ host nx.canarytokens.com`
`nx.canarytokens.com has address 52.18.63.80`
`$ host canarytokens.org`
`canarytokens.org has address 52.18.63.80`

[2020-05-16 10:00] jaswinder97 commented on #8
@jayjb yes the token triggers are working with ip address along with host as:

**`host odi8uw0xidlkgcblizkb37vbj.blueclouddrive.com  52.10.92.6`**

But not sure why its not working with:

`host odi8uw0xidlkgcblizkb37vbj.blueclouddrive.com`

[2020-05-20 06:46] lgflyman7611 opened #59 "No alert email received when opening pdf"
Hi,
    I am in China and now  working on docker-based canarytokens. I can't receive any alert emails when I opened the pdf file downloaded. But it worked when I  ran a test on canarytokens.org.
   I tried to make sure  everything is set as instructed in the readme of this repo, such as two domain names 111.abc and 222.abc, both pointing to a public IP, which is the IP of docker host. However, it

[2020-05-20 08:52] jayjb commented on #59
Hi @lgflyman7611,

Sorry that it is causing some pain; im sure we will be able to get it sorted soon. The way the PDF token works, is it uses a DNS token embedded in the PDF.

So the first test I suggest is create a DNS token, and try trigger that. You can trigger it by:
`host xxxxxxx.your.private.hostname.com`.
If you receive an alert, then you know that you have the DNS token working. We can the

[2020-05-20 09:23] lgflyman7611 commented on #59
OK, I happen to be testing DNS tokens now and it doesn't work. I registered those two domains on godaddy and  did `host xxxxxxx.1111.abc`, returned ` no such name`.

But `host xxxx.canarytokens.com` returned an IP that is exactly the one binding to canarytokens.org.

so, is it the godaddy that cause the failure?

[2020-05-20 09:58] jayjb commented on #59
OK ok, this is progress.

So lets make sure that your DNS is setup correctly. Have you made your DNS server the authoritative DNS server for your domain? This will mean adding SOA and NS records;

The NS records for your root domain; say `1111.abc` will point the godaddy namerservers (they usually tell you just underneath where you config your DNS file).

The SOA record will also point to the prim

[2020-05-20 10:30] lgflyman7611 commented on #59
<img width="984" alt="屏幕快照 2020-05-20 下午6 22 33" src="https://user-images.githubusercontent.com/24713866/82435578-133aa000-9ac7-11ea-9553-b38528c0689a.png">
the image above seems right as you described...I can get the IP of canarytokens docker host with `host 111.adc`, but not with `host xxx.111.abc`

[2020-05-20 15:24] jayjb commented on #59
Ok that sounds good (and looks good). So it really doesn't matter whether `host xxxx.111.abc` returns the IP address or an NXDOMAIN. The reason is that we control that DNS server so we can serve whatever response.

If you on your canarytokens server, you should be able to watch the queries come in. So if you run `docker exec -ti switchboard /bin/bash`, you will be inside one of the containers.

No

[2020-05-21 01:43] lgflyman7611 commented on #59
![屏幕快照 2020-05-21 上午9 38 05](https://user-images.githubusercontent.com/24713866/82514034-2ee58b00-9b47-11ea-888d-7c5fec016281.png)
tried `host xxxx.1111.adc` again, nothing appeared in switchboard.log. But there are several errors as you can see in the image above. I don't know if they are relevant?

[2020-05-21 16:18] jayjb commented on #59
The `NoRouteError: No route to host` exception isn't something i've seen before. The tokens that you have listed that aren't working, look to all be DNS-baed Canarytokens.

Would you mind checking if `host 111.abc` shows up in your `switchboard.log`? I know it returns the correct IP already; but im wondering why subdomains of your main domain aren't reaching your server.

What kind of machine are

[2020-05-22 02:28] lgflyman7611 commented on #59
Yes, the host 111.abc did show up in switchbaord.log. I hide it under the yellow rectangle in the image above (right after `http://`).  I am running docker on an ubuntu 18.04 server, with 22, 53, 25, 80 port open.

I am wondering too. In my understanding, the DNS token would be triggered when the subdomain resolution requests are forwarded to canarytokens server. If I am right about that,  the DNS

[2020-05-22 08:59] jayjb commented on #59
So that log line looks more to me like the an HTTP GET request showing up. What I am asking is when you do a `host 111.abc`, does that DNS query show up?

Your understanding of how it works is spot on. Im glad we on the same track. So if you can confirm that DNS queries for your domain `111.abc` show up in the logs, then we can figure why subdomains aren't showing up.

For example:
if i run `$ hos

[2020-05-22 09:54] lgflyman7611 commented on #59
Yes, I tried to run `host 111.abc` and `host xxx.111.abc`, both got nothing in switchboard.log. I guess my DNS server did not forward the resolution request for xxx.111.adc to my canarytoken server.  I don't know how to configure my DNS server to make sure it forwards those requests which it can't  resolve to my canarytokens server...

[2020-05-22 11:44] lgflyman7611 commented on #59
I am thinking about a possible reason that those DNS-based tokens did not work, which might be DNS service provider? I am using godaddy and did not find the way to make it forward irresolvable requests to my canarytokens server. Could you please tell me which provider you are working with? I  could have a try of applying new domain names from your provider to rule out this possibility...

[2020-05-22 16:24] jayjb commented on #59
Hi @lgflyman7611,

Sorry for the delay. Ye we need to figure out why those requests aren't being forwarded. My automatic response is that your need to make sure that your Canarytokens server is the authoritative DNS server for your domain.

With regards to your provider; i've setup one using Godaddy before as well. Im going to try setup another one and see if i can get it working. And let you know

[2020-05-22 17:08] jayjb commented on #59
Hi @lgflyman7611,

I tried quickly setting one up on Google. And it worked (also using Godaddy). What I did was use the following in my DNS setup:
`A    @          <IP>`
`NS @          ns72.domaincontrol.com`
`NS @          ns71.domaincontrol.com`
`NS tokens <IP-backwards>.bc.googleusercontent.com`
`NS nx        <IP-backwards>.bc.googleusercontent.com`
`SOA  @  Primary nameserver: ns71.domaincontr

[2020-05-23 11:52] lgflyman7611 commented on #59
Finally, I got all dns-based tokens working! Thank you so much!

Here is my settings (say 111.abc is the domain name I got on godaddy):
[code]
Little differet from yours. But it works. The key part is the NS record "NS tokens @" which can forward resolving requests carrying hostname "tokens" to the IP in the corresponding A record.

Thanks again! Have nice weekend!

[2020-05-25 09:38] jayjb commented on #59
@lgflyman7611 thats great! Im glad it is working for you. I hope it is useful.

[2020-05-29 07:52] timurozkul opened #61 "MS Word + PDF not sending email"
I am using Mac OS Mojave Version 10.14.6.

I downloaded and opened the following MS Word and PDF several times. I have not received any email on my Gmail (I have checked my spam folder). Perhaps I am missing something in the set-up.

[2020-05-29 08:38] jayjb commented on #61
Hi @timurozkul,

Can i quickly ask you to send me some details so i can investigate? Please let me know the following:
- what program you opened the PDF with?
- what program you opened the MS word doc with?
- did you download the files from canarytokens.org or are you running your own server?

Thanks for reporting this by the way.

[2020-05-29 17:05] timurozkul commented on #61
Yes I used canarytokens.org and I just did the process for the third time just to make sure.
No, I am not running my own server.

I opened the PDF with apple's default option which is the preview app.
I opened the MS Word with apple's default option which is the Text edit app.

[2020-06-01 07:48] jayjb commented on #61
Hi @timurozkul,

Thanks for the information. Currently, the PDF Canarytoken is only triggered if opened with Adobe PDF reader (there are a few others that work, but definitely not all). And it is the same case for the MS Word document. MS Word will trigger the token; but we can't guarantee it across all different word processors.

Extending these functionality to work across as many word processor

[2020-06-03 11:44] #61 closed

[2020-06-04 02:01] lgflyman7611 commented on #59
Hi @jayjb ,
I was wondering if canarytokens supports RESTful API so that I can fetch alert logs through API,  or support syslog that I can send alert logs to a remote server?

[2020-06-04 12:44] jayjb commented on #59
Hi @lgflyman7611,

Currently we dont have those for canarytokens. The closest there would be to use a webhook; which would send you alert information  when a Canarytoken is triggered.

[2020-06-05 14:36] jaswinder97 opened #63 "country information is not available on token manage page"
![canarytoken-trigger-info-page](https://user-images.githubusercontent.com/17950241/83888840-0032fb80-a768-11ea-8a6a-e329295460d2.png)

[2020-06-10 10:02] jayjb commented on #63
hi @jaswinder97,

In order to get the country information, you will need to add an ipinfo api key to the `.env` file. We mention it on `canarytokens-docker` repo:

[2020-06-10 10:07] jaswinder97 commented on #63
thanks @jayjb
I will try it today

[2020-06-16 14:37] partigo opened #65 "Feature Request: Provide full URI for HTTP notifications"
For HTTP triggers, I can edit the URI so long as it includes the complete Canarytoken.  When I get a trigger report email, it includes only the Canarytoken itself.

It would be lovely if the URL which triggered the report was included in the email.  This could allow some additional information to be included, e.g. the name of the machine embedded in a custom URI.

Not clear if there is any need to

[2020-06-19 17:14] Lokeshkane commented on #33
i have the same issuse but i am using stationx

[2020-07-14 03:50] ajc133 commented on #65
Couldn't this be accomplished by the user? Since they control the message displayed?

[2020-07-15 21:48] partigo commented on #65
For a single use token on a single machine, then you are very right that it can perfectly go into the displayed message.

But it would be nice to take one generated token, leave the token trigger unchanged, and add per-machine identifying information to the URI.    If I imagine having thousands of machines, this allows me to statically or dynamically tweak to URI to identify the machine, or what w

[2020-07-21 14:02] nodauf opened #68 "CanaryToken Windows folder issue"
I deployed the canarytoken docker by following the step in the README.md. But when I generate the Windows folder token, the desktop.ini is using the main domain instead of the NXDOMAIN.

My configuration is:
[code]
and the desktop.ini is:
[code]

The token is never triggered but if I replace ``` canarytoken.mydomain.com ``` by ``` nx.canarytoken.mydomain.com ``` it's working.

[2020-07-27 16:07] jayjb commented on #68
Hi @nodauf,

Would you mind letting me know what your DNS setup looks like?

[2020-07-31 15:30] nodauf commented on #68
Hi,
Thank you for taking the time to reply.
My DNS server is on Windows Server 2016.

I have created the following records:
`nscanarytoken.mydomain.com A 10.0.0.1`
`canarytoken.mydomain.com A 10.0.0.1`

I have then created a NS record for `nxcanarytoken.mydomain.com` to use `nscanarytoken.mydomain.com.`

PS: I have updated my previous message. The NXDOMAINS is not `nx.canarytoken.mydomain.com` but

[2020-08-03 04:28] chew118 commented on #53
having the same problem

using ms word to open a word canary token but didn't receive any email notification

Do we need to whitelist port or url on firewall?
Or the email is blocked by spam filter?

[2020-08-03 06:43] jayjb commented on #53
Hi @chew118,

Are you using the canarytokens.org site or are you running your own canarytokens server?

Please let me know and we can try figure out whats going wrong.

[2020-08-03 06:49] sohithchowdary commented on #53
Hey @jayjb
I used canarytokens.org but its not working man
I didn't received any mail after opening it

[2020-08-03 07:21] jayjb commented on #53
Hi @sohithchowdary,

Im sorry its not working for you. Which program did you use to open it? Also which token? I just confirmed that the ms word token and pdf tokens are working for me that the moment. So im sure we will be able to get to the bottom of this

[2020-08-03 14:02] jayjb commented on #68
Hi @nodauf,

Thanks for the additional information.

Can i ask you try changing your DNS records to:
`mydomain.com A 10.0.0.1`
`nscanarytoken.mydomain.com NS mydomain.com`
`canarytoken.mydomain.com NS mydomain.com`
`nxcanarytoken.mydomain.com NS mydomain.com`

The reason i am saying this is because the `NS` records specifies that the authoritative DNS server for that record i.e. `nscanarytoken.myd

[2020-08-12 01:33] silascutler opened #70 "Question: List active / created tokens"
Simple question / sorry I didn't find an answer in the documentation  - Is there a way to list all of the active / created tokens?

[2020-08-12 05:04] jayjb commented on #70
Hi @silascutler,

No stress at all. There isn't a way to list all active tokens however if you are running your own Canarytokens servers, you can follow these steps to list them:
1. ssh into host that is running your Canarytokens docker.
2. `sudo docker exec -ti redis redis-cli` #here we are dropping into a redis shell on the redis container of your Canarytokens docker
3. `keys canarydrop:*` # thi

[2020-08-12 10:44] nodauf commented on #68
Hi @jayjb ,
Thank you for the help it's working 👍

[2020-08-12 10:44] #68 closed

[2020-08-14 15:50] feldmannb opened #71 "Need to use with multiple API tokens"
I have a use case where multiple operating companies with individual Canary installs will be using a consolidated instance of Splunk.  Each has an API Token so looking for support for or methodology that would allow registration of multiple APIs to the Add-On.

[2020-08-17 07:38] jayjb commented on #71
Hi @feldmannb,

I just want to make sure im understanding your use case here:
1) multiple companies each with their own Canarytokens server (say canarytokens.company1.com, canarytokens.company2.com)
2) Each company has an api token used in sending incidents to your one Splunk installation - this allows Splunk to know which company's incidents are being sent in.

The question then is how you can ad

[2020-08-17 13:00] feldmannb commented on #71
Your point number one is correct: each Operating Company has their own
Canary server environment.  We are using tagging in Splunk to identify
events as coming from specific operating companies.  So the
question/request is to support more than one Canerytoken instance sending
incidents to Splunk.  I.E. we need to configure the add-on to
accepted events from multiple Canary Swerver environments each

[2020-08-20 08:29] jayjb commented on #71
HI @feldmannb,

Thanks for the explanation. I think there may be some confusion here. Are you a Canary customer? i.e. you have your own Canary Console instance?

[2020-08-24 17:06] feldmannb commented on #71
@jayjb

I am actually a Splunk SE working with a customer who is a Canary customer.  It is possible the confusion is on my side or I did not explain the issue clearly or I may be in the wrong Git thread for the customer issue.

The problem is not with anything on the Canary Console it is with the Thinkst Canary Add-On for Splunk (https://splunkbase.splunk.com/app/3980/). The add-on can only be con

[2020-08-25 05:09] jayjb commented on #71
Hi @feldmannb,

So if you working for a Canary Customer you should totally mail in support [at] canary [dot] tools please. We would be happy to help.

I can tell you though that we are currently working on our Splunk app (so that it adheres to the latest version). We don't support multiple API keys and I dont think we have ever had that request before. If you wouldn't mailing the above address wit

[2020-11-04 13:27] SimonGurney opened #72 "Provide a customisable hole off timer for repeat alerts"
The User class throttles alerts to 1 alert per 60 second window, which drops to 1 alert per 5 second window when running in "DEBUG".

This may not be the desired behaviour, particularly with webhook alerts configured.  Can this be made configurable via ENV vars like other settings.  I was thinking a tuneable window length and alert cap per window or to fully disable the feature.

Happy to submit a

[2020-11-06 14:39] jayjb commented on #72
Hi @SimonGurney,

We haven't had many requests for this (or none that I can recall). If you happy to take a crack at it, i'd be more than happy to help out and send you something as a thanks for contributing too!

[2020-11-06 14:55] SimonGurney commented on #72
Hi @jayjb

That would be awesome.  Shall I do a pull request?  I'm not overly familiar with GitHub etiquette :)

[2020-11-06 15:01] jayjb commented on #72
Hi @SimonGurney,

Haha, yessir. A PR would be great thanks! Hmmm, now that you mention GitHub etiquette i'm unsure whether i've followed it too 🙈  🤣

[2020-11-10 10:56] ajxchapman opened #74 "canarytokens.com does not resolve from DigitalOcean droplets"
[code]

This appears to be due to Digital Ocean resolvers expecting the 'Authority' flag to be set on responses from a SOA for a domain.

[2020-11-10 12:37] jayjb commented on #74
Thanks so much for finding and fixing this @ajxchapman! Look forward to hearing from you

[2020-11-10 12:37] #74 closed

[2020-11-21 06:55] manipulator01 opened #76 "How to setup lambda function for CANARY_AWSID_URL"
Hello,

**I would like to use my own AWS account to generate AWS tokens** but I cannot find any documentation on how to setup required lambda functions AWS.

I noticed that [documentation](https://github.com/thinkst/canarytokens/blob/master/README.md) mentions following information:

But I cannot see how I can generate `CANARY_AWSID_URL` and do required setup on my AWS account.

Please advise

[2020-12-03 07:00] jayjb commented on #76
Hi @manipulator01,

Sorry for the delayed response. Currently, we haven't shared how that whole AWS ID token works regarding actual source code etc. We have just parameterised it in case you figure your own way to create an AWS ID Canarytoken.

[2021-01-01 16:42] Shango-13 commented on #8
Hello,

I am with a similar issue from OP.

 '' web bugs, it is working properly and I am receiving email alert notification. But for DNS canary token, when I open <token>.localdomain, I am redirected to /generate page, but not getting email notification."

but in my case when i check switchboard.log output i get 'Error in render GET: No Canarytoken found in /favicon.ico'

I cannot found any placi

[2021-01-18 01:52] l0ners opened #79 "Why is there no git token when there is already a svn token?"
Hello,
I would like to use git token,because they look similar, but they don't seem to have the same principles.
Please advise

[2021-01-25 14:17] jayjb commented on #79
Hi @l0ners,

A git token would be great, but we haven't had much of a request for it. If you have any idea to achieve one, we would totally love a PR. Otherwise we can chat it out here and hopefully come up with something.

[2021-01-25 14:18] #72 closed

[2021-01-29 10:20] frostmx opened #80 "What is https://check.torproject.org/exit-addresses ?"
I have looked through logs and noticed some strange thing:

2021-01-29T07:29:03+0000 [twisted.web.client.HTTPClientFactory#info] Starting factory <HTTPClientFactory: https://check.torproject.org/exit-addresses>
2021-01-29T07:29:04+0000 [twisted.web.client.HTTPClientFactory#info] Stopping factory <HTTPClientFactory: https://check.torproject.org/exit-addresses>

What does it need for?
And can I turn

[2021-02-02 10:17] frostmx commented on #80
So I want to install app inside without internet connection at all.
But if it cannot connect to ipinfo.io (but i dont use any api key) it hangs at all.

[2021-02-05 09:43] frostmx commented on #80
Ok. I ve done some research and found what it is.
But there is still trouble without internet access.

[2021-03-30 23:29] juju4 opened #86 "Azure SQL Server support?"
I did some testing on Azure SQL server and default canarytokens does not seem to be possible there mostly because of absence of extended stored procedures like xp_fileexist or xp_dirtree.

https://stackoverflow.com/questions/56521073/can-we-check-if-the-file-exists-or-not-in-azure-sql

raiserror/throw would be an alternate option through logs
Any other recommended options?

Thanks a lot for your w

[2021-05-12 00:03] codemonkey2k5 opened #90 "In testing from canarytokens.org I have found that word tokens do not trip unless you edit and save..."
I set up a word token as a test.   I opened the doc in MS word (latest version) and a blank doc opened.  I closed it and nothing happened.   I then re-opened it and added some text and saved.  This time I was notified.
Tried it again both ways and the only way I get a notification is if I edit and save the doc.

The file is located in a SharePoint document folder.
The test is being done on Windows

[2021-05-18 06:25] jayjb commented on #90
Hi @codemonkey2k5,

Thanks so much for reporting this. We are investigating it and will get back to you once we have a solution.

[2021-05-27 01:54] livefilesync commented on #90
Is there any update on this?

We're seeing the same behavior described by OP.

[2021-05-28 04:09] jayjb commented on #90
Hi folks,

Sorry for the radio silence. We are just finishing up on a new version release and so we are focussed there. I'll be diving into why this is happening straight afterward.

[2021-05-31 04:03] bos0407 opened #91 "Any supports for the Linux file system or IoT?"
The canarytoken is very useful for the security operators, and I found some tokens are just supported Windows file system (e.g., PDF, MS Word, Window Directory, EXE file).
Do any plans to support the Linux file system or IoT?

[2021-06-02 09:31] The1WhoPrtNocks commented on #53
Also receiving an email or webhook result.
I can however see the request for the webhook leaving my PC.
And i do not apprecaite the comments about my mother :P

[2021-06-02 09:48] The1WhoPrtNocks commented on #90
For me I did not need to actually edit the do.
There seems to be some protections in place before you select this banner
![image](https://user-images.githubusercontent.com/36970807/120459320-fe5a4300-c38f-11eb-9587-071d5c1f22a6.png)
As soon as that is selected (before edit + save) I get the hit.

[2021-06-06 18:54] JC5 opened #92 "Customize mailgun API endpoint"
https://github.com/thinkst/canarytokens/blob/13fad642b11159715c274dea9c1fae85fa47f116/channel_output_email.py#L119

I am in the EU. I can't use mailgun because it's hardcoded to the US endpoints.

This is documented here: https://documentation.mailgun.com/en/latest/quickstart-sending.html#send-via-api

[2021-06-08 07:32] jayjb commented on #90
Hi @codemonkey2k5,

Sorry for the delay.. We still working on a release, but something occurred to me and we may not have it documented, but when you download the MS Word Canarytoken (on Windows), you usually need to right click, and select the "Unblock" checkbox. Windows automatically puts a block on files downloaded.

Since you know the file is safe, you can unblock it so that the next person (a

[2021-06-27 05:00] jaswinder97 commented on #63
@jayjb it seems like broken on latest commit and requires GOOGLE API KEY

![Screenshot - 2021-06-26T230901 287](https://user-images.githubusercontent.com/17950241/123521331-9e776380-d6d3-11eb-8c95-d7db4eb55389.png)

![Uploading Screenshot - 2021-06-26T230929.538.png…]()

[2021-08-04 06:47] SkiddyBargins opened #96 "Not sending alerts - PDF and Word"
I am generating pdf and word tokens via https://canarytokens.org/generate with them not triggering. I have checked https://canarytokens.org/history?token=XXXXXXX and the incident list is currently empty along with alerts not being generated.

Testing has been done with multiple email addresses and executed from serval different hosts using differing internet connections.

The PDF was opened with E

[2021-08-04 12:03] jayjb commented on #96
Hi @SkiddyBargins,

Thanks for writing in. We had a quick check from our side and everything is triggering fine. We did have an issue earlier (around 5-6 hours ago) where our Canarytoken's server was down for a little while. Would you mind trying again?

If it continues, would you mind letting me know which version of MS Word and Adobe you tried with? (and on which operating system).

[2021-08-19 09:50] #59 closed

[2021-08-19 09:51] #41 closed

[2021-08-19 09:51] #44 closed

[2021-08-19 09:52] #47 closed

[2021-08-19 10:14] jayjb commented on #90
Closing this issue. Ive documented this now at our new FAQ section over [here](https://github.com/thinkst/canarytokens/wiki#why-arent-my-ms-doc-excel-or-word-triggering-once-downloaded)

[2021-08-19 15:01] codemonkey2k5 commented on #90
Thanks for the update, will test today.

[2021-08-19 15:24] jayjb commented on #92
Hi @JC5,

Thats very useful. Thank you. Ill try get a fix in to get it sorted for you.

[2021-08-19 15:46] jayjb commented on #92
tracking it [here](https://github.com/thinkst/canarytokens/pull/98)

[2021-08-19 15:47] jayjb commented on #91
Hi @bos0407,

Thats a very interesting thought. Are there any particular file types you think are valuable for Linux or IoT? We can then do some research into making it happen.

[2021-08-19 15:49] jayjb commented on #86
Hi @juju4,

Currently I haven't looked into Azure SQL but it is an interesting thought. Ill bring up with the team and see what we can figure out.

Thanks for the recommendation.

[2021-08-19 15:52] jayjb commented on #80
Hi @frostmx,

Sorry for the delayed response. Is your Canarytokens server running purely on an internal network? I.e. why no internet access? The reason i ask is that if a token is triggered outside your network, then it wont make its way back to your server and send an alert.

[2021-08-19 20:06] codemonkey2k5 commented on #90
Tested both word DOCX and PDF both failed for different reasons.   I clicked unblock for word as your documentation suggests but still get no response when opening said file.

And with PDF I get this pop up:

***@***.***

That’s going to be a fairly large tip off to what’s going on and if you block or cancel then there is no notification.
I realize I can allow it permanently but in the scenario yo

[2021-08-20 04:28] jayjb commented on #76
Closing this issue because we haven't released how to create your own AWS ID infrastructure yet. However you may take a look at [SpaceSiren](https://github.com/spacesiren/spacesiren) or the original work [SpaceCrab](https://bitbucket.org/asecurityteam/spacecrab/src/master/).

[2021-08-20 04:28] #76 closed

[2021-08-20 04:34] jayjb commented on #71
Closing this issue because the Thinkst Canary Add-on for Splunk doesn't apply here. We can route this to actual support for a Canary Customer (also the Splunk App has been updated recently so new issues to follow I'm sure)

[2021-08-20 04:34] #71 closed

[2021-08-20 04:43] jayjb commented on #70
Closing issue. I've made a note of the steps used in our new FAQ over [here](https://github.com/thinkst/canarytokens/wiki#how-can-i-list-all-created-canarytokens-on-my-private-canarytokens-server)

[2021-08-20 04:43] #70 closed

[2021-08-20 04:47] jayjb commented on #65
Hi @partigo,

Thanks for the suggestion. Its an interesting idea but as @ajc133 suggests it may give an attacker means to throw you off. If the url has identifying information, if an attacker realises its a canarytoken'ed url, she can start to misdirect you.

In cases of thousands of servers, we would suggest creating thousands of new canarytokens and making sure that the "Memo" that you provide i

[2021-08-20 04:47] #65 closed

[2021-08-20 04:51] jayjb commented on #54
I suspect the way forward here would be to make your `CANARY_ALERT_EMAIL_FROM_ADDRESS=reply-to@example.com`.

Closing this issue because it isn't something we going to pursue. Thanks for the suggestion.

[2021-08-20 04:51] #54 closed

[2021-08-20 05:03] jayjb commented on #49
Closing this issue. I have made a reference to the above steps in the FAQ. THIS IS NOT A RECOMMENDED APPROACH.

[2021-08-20 05:03] #49 closed

[2021-08-20 05:09] jayjb commented on #90
Hi @codemonkey2k5,

Can we confirm a few things please, just so we on the same wavelength in figuring out whats going wrong?
1. What OS are you using?
2. What PDF reader are you using to open the PDF Canarytoken? (please supply the version as well)
3. What Word processor are you using to open the MS Word Canarytoken? (please supply the version as well)
4. Im assuming these are generated on Canaryt

[2021-08-20 05:21] codemonkey2k5 commented on #90
Hi @codemonkey2k5<https://github.com/codemonkey2k5>,

Can we confirm a few things please, just so we on the same wavelength in figuring out whats going wrong?

  1.  What OS are you using?

Windows 10 21H1 and also Windows 11 Build 22000.160

  2.  What PDF reader are you using to open the PDF Canarytoken? (please supply the version as well)

Adobe Acrobat Pro version 2020.006.20034
  3.  What Wor

[2021-08-27 22:02] OmgImAlexis opened #100 "Support for discord webhooks?"
I edited the field before taking the screenshot to obfuscate the URL.

![image](https://user-images.githubusercontent.com/6525926/131193026-4dc7ec3d-4695-4f66-9b49-9ce749b07179.png)

[2021-08-27 22:14] OmgImAlexis opened #101 "Email addresses should be validated before allowing alerts to be sent"
Currently there's no verification before alerts are sent out meaning I can just add people's emails and have this send them unsolicited emails.

From what I could see there's also no way to opt out of these via the email.

[2021-08-28 18:32] NDevTK opened #102 ""Your Canarytoken was Triggered" links should use HTTPS"
Emails contains a link to manage the token starting with http://canarytokens.org/manage
Just by clicking the link the "auth" url parameter is exposed over a insecure connection.
I would ask for HSTS preload (https://hstspreload.org/) however it seems supporting HTTP and HTTPS connections is intended.

[2021-08-28 20:46] NDevTK commented on #100
https://discord.com/developers/docs/resources/webhook#execute-webhook

Maybe it should allow custom JSON currently webhooks are required to handle:
[code]

[2021-08-29 01:04] NDevTK commented on #101
Emails contain canarytokens.org/manage that has a emails alert toggle so people can "unsubscribe"
In order to verify a email address without something like Google OAuth it would also have to send a unsolicited email.
However fake tokens could be used to troll people who dont know there token IDs.

[2021-09-01 01:52] bos0407 commented on #91
Normally, most of MIS is setting the Linux-based devices to be a file sharing service not only on PC-Based servers but also on IoT devices.
If any hacker is interesting the file in the storage of Linux-based server, they will encrypt or exposures those files and threaten the victim.
So any sensitive files including PDF, XLS, DOC, the document has touched and trigger the system alert to the system

[2021-09-11 19:56] jtagcat opened #107 "Search in token selection on token generation site."
It'd be a nice-to-have.

[2021-09-11 20:01] jtagcat opened #108 "Add a link to docs of the specific token type."
![image](https://user-images.githubusercontent.com/38327267/132960013-661c65bd-38fc-474f-8a71-ec010e5fc4bf.png)

It'd be neet, if there was 'Docs ![open externally](https://design.firefox.com/icons/icons/desktop/open-in-new-16.svg)' to the right of the selection, linking to (in this case) https://docs.canarytokens.org/guide/http-token.html

[2021-09-11 20:32] jtagcat opened #109 "Wide layout"
Quick sketchy sketch:

![image](https://user-images.githubusercontent.com/38327267/132960741-a77b19bc-336f-45a4-b6e2-fc454b80c0cf.png)

some inspiration from https://devdocs.io

***

Closes #107

It would make it more functional in terms it's less to scroll through, and more discoverable (you see what's available).

It's likely not really used on small mobiles (aka exluding tablets, etc). In a pin

[2021-09-11 20:55] jtagcat opened #111 "Unify documentation."
Take AWS token for example:

![image](https://user-images.githubusercontent.com/38327267/132961178-08684dcf-690a-4183-90b5-0dd5188e2bc7.png)
(information being hidden, kept from the user; have to guess, and insert example@example.com to show the text)

+

https://docs.canarytokens.org/guide/aws-keys-token.html

***

Proposed:
 - Examples are moved to the generate page, merged with the post-generat

[2021-09-11 21:10] jtagcat opened #112 "Payload domain"
Have a separate token domain(s) from the dashboard domain.

If it was smartcoconut.com instead of canarytokens.org, it'd be less obvious.

You don't have to be familiar with canarytokens.org, the format, etc. 'canary' would make me snap out, with 'hold on', maybe visit the root domain first.

smartcoconut.com should be blank (no generate dashboard).

[2021-09-11 21:37] jtagcat commented on #100
The project can support [apprise](https://github.com/caronc/apprise), a library currently supporting 64 backends.

Works using an 'Apprise URL':
 - Telegram: `tgram://123456789:abcdefg_hijklmnop/12315544/`
 - Discord: `discord://4174216298/JHMHI8qBe7bk2ZwO5U711o3dV_js?avatar_url=https://i.imgur.com/FsEpmwg.jpeg`

This is maybe even compatible with the current text-based e-mail/webhook input. If it

[2021-09-11 23:00] NDevTK commented on #100
Looks nice as long as the service is safe from SSRF.

[2021-09-15 04:17] #92 closed

[2021-09-15 04:19] jayjb commented on #53
Hi @codemonkey2k5,

What OS are you using?

[2021-09-15 04:22] jayjb commented on #112
Hi @jtagcat,

Thanks for the suggestion. Canarytokens.org serves as a demo for folks. We encourage folks to rather create their own Canarytokens server using our docker setup. This way you can make the domains as obscure as you like.

[2021-09-15 04:22] #112 closed

[2021-09-15 04:22] codemonkey2k5 commented on #53
The token was placed on server 2016 and I tried to access it from both windows 10 and 11.  Windows 10 build 21H1
There is absolutely nothing remarkable about the setup of any of these machines. They all do have the latest windows updates installed.

From: JayJB ***@***.***>
Sent: Tuesday, September 14, 2021 9:19 PM
To: thinkst/canarytokens ***@***.***>
Cc: Tony MacDonald ***@***.***>; Mention ***@

[2021-09-15 04:25] jayjb commented on #101
Hi @OmgImAlexis and @OmgImAlexis,

Correct. And we have seen it happen here and there. We encourage folks to email us if they are getting "trolled" or spammed from our site and dont know about the Canarytoken. We can then simply remove it.

Our thinking with the verification is that it is another barrier. We haven't seen enough abuse of the site to warrant adding such safe guards (yet)

[2021-09-15 04:25] #101 closed

[2021-09-15 04:26] jayjb commented on #102
Hi @NDevTK,

Ah. Thats a good find. Let me check why that link isn't offered as https in the first place.

Thanks!

[2021-09-15 04:27] JC5 commented on #92
🥳

[2021-09-15 04:27] OmgImAlexis commented on #101
@jayjb you tagged me twice.

Why not include a link directly in the email?

[2021-09-15 14:55] NDevTK commented on #101
@OmgImAlexis theirs a manage link in the email

[2021-09-17 14:04] jtagcat opened #113 "SSH"
~/.ssh is neet

~/.ssh/config can contain entries about hosts.

'if ssh to x successful, send notif'

[2021-09-29 07:25] mrrobotnl opened #114 "Grafana or elasticsearch integrations?"
I am currently working on a project for school. Is it perhaps possible to connect a canary token to a monitoring software like Grafana? So that I can display when en who has opened a pdf or word file?

[2021-12-15 09:39] jgrumboe commented on #79
Could such a token be achivied with a `post-checkout` git hook? https://git-scm.com/docs/githooks#_post_checkout
Thinking of scripts for each OS family (Linux, Windows, MacOS) doing a simple DNS lookup of a canarytoken.

[2021-12-21 20:14] kevin-dall commented on #91
IMHO, I would think the most valuable things within a linux system would be .conf file you could put in /etc. This is where the shadow file is for Linux password hashes. Would not see MS office files in a juicy location like /etc in Linux

[2022-01-05 02:37] bawolff opened #121 "Don't put the DNS nameserver as a subdomain of the canary token"
While using this token to test log4j, I encountered a system that appears (this is based on some guess work) to look up the A record of the DNS nameserver for the canary token. Some of this is based on guess work, but it looks like the DNS resolver first did a NS lookup on L4J.y5iy21lmuu8oilvgcovzx1xd5.canarytokens.com. saw it was ns1.L4J.y5iy21lmuu8oilvgcovzx1xd5.canarytokens.com. so then decided

[2022-01-11 15:21] 3ICE opened #122 "Infinite loop in redirect if http not specified"
I entered my website only as "3ice.hu" into the slow redirect's URL field as a test, and it caused an infinitely looping self-redirect canary... Please prepend "http://" if your users forget. Or redirect properly so web browsers don't have to guess.

Expected: canarytokens.com -> http://3ice.hu/
Actual: canarytokens.com -> canarytokens.com -> canarytokens.com :|| ... ad infinitum

_blog.thinkst /

[2022-01-11 16:40] 3ICE commented on #122
http://canarytokens.com/about/kuzfh7vtq26ox5ye8h7h9bcl2/post.jsp
ˇˇ
http://canarytokens.com/about/kuzfh7vtq26ox5ye8h7h9bcl2/3ice.hu
ˇˇ
http://canarytokens.com/about/kuzfh7vtq26ox5ye8h7h9bcl2/3ice.hu
ˇˇ

Oh, and no e-mail.

[2022-01-12 15:09] JiTmun opened #123 "webhook resend on failure?"
Hello,
Using hooks, if the hook endpoint is down for any reason, will a canarytoken try to reach the hook  endpoint forever, so that when the hook endpoint is back the hook is triggered?

[2022-03-01 05:40] prashantvidja opened #131 "aws lambda function for CANARY_AWSID_URL"
Hi,

I would like to set the AWS lambda function for aws token. I have installed terraform and tried to add it to my aws account but getting the below error.

Could you please guide me so I can deploy it?

Thanks

[2022-03-02 13:15] JiTmun opened #132 "switchboard restart loop"
Hello,

# Description
After the docker compose, the switchboard succeed to build and start but logs shows that each 20 second the container restart, see error message and switchboard below. Any hint about solving this issue? What surprises me is I am not using the https docker version, but still the error is about certificate generation.
Thanks for the help

# Error message

 Failed to load applic

[2022-03-07 08:33] #132 closed

[2022-03-07 08:33] JiTmun commented on #132
moved to https://github.com/thinkst/canarytokens-docker/issues/107

[2022-03-15 18:15] ronnyth89 opened #134 "Create canary token programmatically through scripting language like python?"
Hi I have been using your library for my current work and it has been very helpful. So far I have stood up my canary server on my own domain and have been creating canary token through web ui. Are there a way to create my canary token through scripting using a scripting language like python instead of interacting with the default web ui? Thank you so much for this wonderful framework.

[2022-04-11 08:45] GitWatin opened #136 "Firewall config - which port needed to be open ?"
Hi,
It's not a bug request, just info.

Can you tell me which port need to be open to allow canarytoken traffic ?
Did you use IP or DNS name to contact your server ?

Thanks you in advance for your answer

Regards

[2022-05-02 10:24] olivercoad opened #139 "Multiple email addresses"
It would be nice to be able to provide multiple email addresses for notifying multiple people. It would be reasonable to limit it to a very small number of comma separated emails.

[2022-08-02 05:08] shinkuan opened #143 "Token Triggered on StartUp"
**Description**: I have a folder which is generated using [https://canarytokens.org/generate](url), and it was placed on desktop folder. The token always triggered when I startup my PC. When PC is idle on desktop, it triggers the token every 5 to 10 minutes.

**What I have tried**: Disabled almost everything that runs on startup but won't effect Windows system using Autorun.exe from microsoft.
Mov

[2022-08-08 21:26] JStyle21 opened #145 "ipinfo missing auth"
Hi,

I've registered with ipinfo and provided the token via settings as per design, when i go to manage a canary token i can see in the map a missing auth response even tho it was provided.

I've tested the settings and the ipinfo python code manually on the running docker container and i can see it's working fine, no idea what's causing the map issue.

![Map example](https://user-images.githubuse

[2022-08-09 02:31] JStyle21 opened #146 "Time format & localtime"
Hi,

Is it possible to change the time format and use something other than UTC?
I've found a TIME_FORMAT variable in the email alerts but it's not being used, i've also tried to change the time in 4-5 different files and location but non of them seem to impact the result and there are so many other occurrences, where is the correct place to change it so it's reflected in the emails and dashboard?

[2022-08-09 22:35] JStyle21 commented on #146
I found 1 place which is the history page it's under httpd_site.py -> HistoryPage -> render_GET -> formatted_timestamp
however no matter how i convert UTC to local all i get is Processing Failed, no idea what's causing this as the new timestamp is valid, same format and everything.

I've tested this locally in a different program without any issue...

[2022-08-23 06:25] Footsiefat commented on #100
Any updates on this?

[2022-08-23 07:52] NDevTK commented on #100
You can use Vercel or Cloudflare workers to forward the webhook for free.
Does not seem like theirs much interest in adding the feature.

[2022-08-30 19:30] ranok opened #147 "Change accordian click box to allow copy/pasting from event"
In the token history (Web Bug if it matters) there is a list of collapsed incidents. When I click on one to open it, the entire box is an onClick to close it, so I cannot copy information out of the box.

It would be great if only clicking on the date/time (header) for the incident minimizes the incident so I can copy and paste information out of the incident.

[2022-09-01 19:56] ranok commented on #136
You will at least need 80 and 53 open (UDP and TCP) for the web bugs and the DNS tokens. If you're running the HTTPS version you'll need 443 as well.

[2022-09-09 08:37] SUGARXUST commented on #108
Hey @jayjb can you please clarify I don't completely understand what you mean. I would like to work on this.

[2022-09-15 02:02] UlyC opened #151 "Word documents are marked as Spam by Gmail"
<img width="640" alt="image" src="https://user-images.githubusercontent.com/36838240/190295687-8d94e172-ac6e-487c-832e-3c7f9c96f0f7.png">

[2022-09-16 10:20] jtagcat commented on #108
![image](https://user-images.githubusercontent.com/38327267/190617071-e55a17ac-85b0-49a7-8080-825b1c4f06c3.png)

While this is selected from the drop-down, it should have a link to the docs. Either below the dropdown, or next to it, with a ![questionmark with circle, help](https://design.firefox.com/icons/icons/desktop/help-16.svg); in this case linking to https://docs.canarytokens.org/guide/http-

[2022-09-28 14:47] flizzer opened #152 "Possible Feature Request - Sensitive Command Token Tracking Multiple Commands"
Greetings!  Love the theory behind Canary Tokens and the ease of implementation.  Was curious if there might there be any plans to enhance the Sensitive Command Token to be able to batch multiple commands in one token?  Perhaps it's a design choice to do one per command, but when considering implementing these, it would be easier to maintain/rollout if there was a way to batch up multiple commands

[2022-10-01 23:32] JStyle21 commented on #139
I'm also interested in this

[2022-10-03 07:02] jayjb commented on #145
Hi @JStyle21,

Sorry for the delay. There is work being done on the side to get Canarytokens to python3, so that has been the focus.

Please can you confirm that you added `CANARY_IPINFO_API_KEY=<api key>` to `switchboard.env`?

[2022-10-03 07:05] jayjb commented on #146
Hi @JStyle21,

It's a good idea (to be able to trivially change the time format). I've labelled it as a feature request for now since as you have noted there isn't a clean place to do it currently.

Do you mind sharing the code you tried? Since the python3 port is almost ready, we won't be adding more code right now. But we can line this request up

[2022-10-03 07:06] jayjb commented on #152
Hi @flizzer,

Thanks for the idea (and feature request). Our team is currently chatting it through and we will get back to you with a response when we have one.

[2022-10-03 07:07] jayjb commented on #151
Hi @UlyC,

Thank you for reporting this. It seems gmail isn't happy about embedding links that are automatically resolved when the document is opened. We will keep an eye on this and see if we figure a nice way around it.

[2022-10-03 11:41] UlyC commented on #151
I tried building my own service, using a different domain, and it passed Gmail's checks.

Another important point is that if the link in the attachment is HTTP, it will definitely be marked as Spam.

And currently, the default link used by Canarytokens is HTTP, I tried changing it to HTTPS but it still gets flagged as spam, it looks like it's because your domain is flagged by them.

[2022-10-03 11:55] JStyle21 commented on #145
It's ok @jayjb i understand.

Yes, confirmed, the api key is set in `switchboard.env`

Any ideas how to further debug this?

[2022-10-03 12:05] JStyle21 commented on #146
Hi @jayjb

At first i've tried to convert **UTC** to **Local** but it didn't work but then i actually solved this issue by converting all the UTC functions such as `datetime.utcnow()` to `now()`
It was a hassle, starting from the history page, then i noticed the emails had a separate timestamp etc. so i went and changed all of them...
So that + adding the timezone to the docker files has fixed the

[2022-10-03 12:06] JStyle21 commented on #139
As a workaround i've set forwarding rules in gmail to send it to multiple accounts but it should be added to the codebase as the email apis allow this.

[2022-10-03 19:54] dirsigler commented on #16
Is there any update after 4 years?
There are probably multiple companies and people of all sizes which would be interested.

I am also interested in GCP canary tokens for a 500 manpower big company.

[2022-10-13 11:56] markthompson1 opened #153 "Quick Question - URL simple view"
Hi,

I have reinstalled a personal Canary Token server. However, the first time I did this, I was able to simplify the Canary Token to just show the token in the URL vs trying to disguise or obfuscate the fact that it was a canary token.

Simple View - http://example.com/o1e15p712l27t1b5jjtqfs6jo

vs

Obfuscated View - http://example.com/images/o1e15p712l27t1b5jjtqfs6jo/submit.aspx

I'd like to ch

[2022-10-15 07:03] jayjb commented on #153
Hi @markthompson1,

If i recall correctly, we don't have a setting that controls that (not to my knowledge). Looking at the code though, if you check in setup_db.py, you will notice a method `add_canary_path_element` which adds the path elements that are randomised. You could either remove the path elements there, or alternatively, remove the `'canary_path_elements'` key from your redis database w

[2022-10-16 01:10] demproper opened #154 "No email notification......"
I have created two tokens, a windows directory and a word document. Both are placed on the desktop, I receive no email notification after the tokeks are opened.  Running 64 Bit Win 10 21H1, token created at  "canarytoken.org".

Thank you in advance.....

Daryl

[2022-10-17 07:19] jayjb commented on #154
Hi @demproper,

Thanks for reporting this. We will take a look into it.

Can you please confirm the following:
1. What program did you use to open the Word document?
2. Did you mark the document as safe after downloading it? With Windows if you download something, it is marked as "from the internet" and won't trigger.

[2022-10-30 17:27] BlipRanger opened #159 "Folder token failing to trigger"
Hello, I'm having a bit of an issue with the folder-based token. When I download the zip, extract, and then browse to the folder, nothing happens. However, if I open the deskop.ini file and extract the uri within, I can put the in the explorer address bar and it will trigger the token and I will be notified. Do you think this could be an issue with my setup or is it something more fundamental to t

[2022-10-30 17:28] BlipRanger commented on #159
To clarify, I am selfhosting this instance. All the other token types have worked fine thus far.

[2022-10-30 18:19] BlipRanger commented on #159
Other relevant info:
I am using two domains: domainA.com & domainB.com; both have 2 glue records pointing towards ns1/ns2 subdomains. Both also have 2 A records pointing ns1.doaminA/B.com & ns2.doaminA/B.com to the ip of my server running Canarytokens. Both have ns1.doaminA/B.com & ns2.doaminA/B.com set as their nameservers and I have confirmed that they are responding to lookups correctly.

In my

[2022-11-03 12:20] wleightond commented on #159
Hi @BlipRanger,

Thanks for reporting this. We've done some digging, and it appears that a fairly recent (within the last year) update to Windows added a new policy that affects this directory token.

The policy is `Allow the use of remote paths in file shortcut icons`, accessible in `Group Policy > Computer Configuration > Administrative Templates > Windows Components > File Explorer`. Enabling i

[2022-11-21 05:29] fengfengzhidao commented on #159
After I create the compressed file and decompress it, it will not access the domain name I set. My operating system is win11